button:disabled {
  background-color: #D0D2D3  
}

.the-blue-one {
  color: blue;
}

.title{
  text-align: center;
}

.top-nav {
  display: flex;
  height: 8%;
  width: 100%;
  background-color: #404041;
  justify-content: center;
  font-family: Open Sans;
}

.number {
  font-family: "Open Sans";
  font-weight: 700;
  font-family: sans-serif;
  color: #ED458B;
}

.guesser {
  color: #E6E7E8;
  font-weight: 100;
}

.guess-field {
  margin-top: 1.5rem;
  border-color: #FFFFFF;
  width: 20rem;
  height: 2rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 100
}

.container{
  text-align: center;
  justify-content: center;
}

.in-line {
  display: in-line;
  height: 3rem;
}

.btn{
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #929497;
}

.same-text{
  color: #404041
}

.output{
  color: #404041
}

.show-guess{
  color: #EB008B;
  font-size: 6em;
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  border-radius: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 3em;
  width: 10rem;
  font-size: 15px;
  font-weight: 100;
}

.small-marg{
  padding-top: 2rem
}

.low-field{
  visibility: hidden;
}

.high-field{
  visibility: hidden;
}
