.the-blue-one {
  color: blue;
}

.title{
  text-align: center;
}

.top-nav {
  display: flex;
  height: 8%;
  width: 100%;
  background-color: #404041;
  justify-content: center;
}

.number {
  font-family: "Open Sans";
  font-weight: 700;
  color: #ED458B;
}

.guesser {
  color: #E6E7E8;
  font-weight: li;
}

.guess-field {
  text-align: center;
}

.container{
  text-align: center;
  justify-content: center;
}

.in-line {
  display: in-line;
}

.btn{
  color: #FFFFFF;
  background-color: #929497
  
}